body {
    margin: auto;
    background-color: gray;
}

.navbar {
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: darkgoldenrod;
    font-family: Arial;
    z-index: 1;
}

.menu   {
    position: absolute;
    top: 0px;
    left: 100px;
}

.navbar a {
    float: left;
    font-size: 11px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 10px;
    top: 2px;
}

.dropdown_content {
    float: left;
    overflow: hidden;
}

.dropdown_content .dropbutton {
    font-size: 11px;    
    border: none;
    outline: none;
    color: white;
    width: 150px;
    height: 40px;
    background-color: inherit;
}

.dropdown_content:hover .dropbutton {
    background-color: goldenrod;
}

.dropdown_contents {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown_contents a {
    float: none;
    color: black;
    padding: 14px 0px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown_contents a:hover {
    background-color: #ddd;
}

.dropdown_content:hover .dropdown_contents {
    display: block;
}

/*User*/
.content_account_user {
    float: right;
    overflow: hidden;
}

.content_account_user .account_user {
    font-size: 11px;    
    border: none;
    outline: none;
    color: white;
    width: 150px;
    height: 40px;
    background-color: goldenrod;
}

.contents_account_user {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.contents_account_user a {
    float: none;
    color: black;
    padding: 14px 0px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.contents_account_user a:hover {
    background-color: #ddd;
}

.content_account_user:hover .contents_account_user {
    display: block;
}


/*Content*/
#content_con_login {
	position: relative;
	margin: auto;
	height: 700px;
	width: 1300px;
	box-shadow: 0px 2px 5px black;
}

#content_login {
	position: relative;
	margin: auto;
	height: 660px;
	width: 1300px;
	background-color: white;
}

/*Footer*/
#footer {
	position: relative;
	bottom: 0;
	margin: auto;
	height: 26px;
	width: 1300px;
	background-color: darkgoldenrod;
	text-align: center;
	padding-top: 14px;
	font-size: 12px;
	color: white;
	font-family: Arial;
}

    /*Audrey*/
/*Slideshow*/
*
{
    box-sizing: border-box;
}
.mySlides {
    display: none;
}

/*Slide show container*/
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/*Caption*/
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/*dots*/
.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; 
}

.active{
    background-color: #717171;
}
/*Fading animation*/
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 300px;){
    .text {font-size: 11px}
}