body {
    margin: auto;
    background-color: gray;
}

.navbar {
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: darkgoldenrod;
    font-family: Arial;
    z-index: 1;
}

.menu   {
    position: absolute;
    top: 0px;
    left: 100px;
}

.navbar a {
    float: left;
    font-size: 11px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 10px;
    top: 2px;
}

.dropdown_content {
    float: left;
    overflow: hidden;
}

.dropdown_content .dropbutton {
    font-size: 11px;    
    border: none;
    outline: none;
    color: white;
    width: 150px;
    height: 40px;
    background-color: inherit;
}

.dropdown_content:hover .dropbutton {
    background-color: goldenrod;
}

.dropdown_contents {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown_contents a {
    float: none;
    color: black;
    padding: 14px 0px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown_contents a:hover {
    background-color: #ddd;
}

.dropdown_content:hover .dropdown_contents {
    display: block;
}

/*User*/
.content_account_user {
    float: right;
    overflow: hidden;
}

.content_account_user .account_user {
    font-size: 11px;    
    border: none;
    outline: none;
    color: white;
    width: 150px;
    height: 40px;
    background-color: goldenrod;
}

.contents_account_user {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.contents_account_user a {
    float: none;
    color: black;
    padding: 14px 0px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.contents_account_user a:hover {
    background-color: #ddd;
}

.content_account_user:hover .contents_account_user {
    display: block;
}


/*Content*/
#content_con_login {
	position: relative;
	margin: auto;
	width: 1300px;
	box-shadow: 0px 2px 5px black;
}

#content_login {
	position: relative;
	width: 1300px;
    height: 800px;
	background-color: white;
    font-family: Arial;
}

.signup_text {
    position: relative;
    margin: auto;
    width: 300px;
    top: 40px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.signup_con {
    position: relative;
    margin: auto;
    top: 50px;
    width: 400px;
    height: 675px;
    background-color: goldenrod;
    box-shadow: 0px 0px 5px 1px black;
}

.summary {
    position: relative;
    top: 50px;
}
.summary tr th{
    
    padding: 20px;
    text-align: left;
}
.okbut{
    text-decoration: none;
    color: black;
}

.okbut div:hover{
    color: gold;
}
.okbutcon {
    position: relative;
    text-align: center;
    top: 100px;
    padding: 15px 0px;
    width: 100px;
    margin: auto;
    background-color: darkgoldenrod;
}

/*Footer*/
#footer {
	position: relative;
	bottom: 0;
	margin: auto;
	height: 26px;
	width: 1300px;
	background-color: darkgoldenrod;
	text-align: center;
	padding-top: 14px;
	font-size: 12px;
	color: white;
	font-family: Arial;
}